@font-face {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  src: local("Calibri"), url("fonts/Calibri.ttf") format("ttf"); }
@font-face {
  font-family: "Atelas Personal Use Only";
  font-style: normal;
  font-weight: normal;
  src: local("Atelas"), url("fonts/Atelas_PersonalUseOnly.ttf") format("truetype"); }
@font-face {
  font-family: "Gill Sans MT";
  src: url("fonts/33535gillsansmt.eot");
  src: local("33535gillsansmt"), url("fonts/33535gillsansmt.woff") format("woff"), url("fonts/gillsansmt.ttf") format("truetype"); }
.logo {
  max-width: 200px;
  display: table;
  margin: 10px auto; }

.logo-main-page {
  display: table;
  max-width: 384px;
  width: 100%;
  margin: 80px auto 20px auto; }
  @media (max-width: 440px) {
    .logo-main-page {
      max-width: 192px; } }

.menu {
  background-image: url("../img/bg.png");
  background-size: 100% 100%;
  display: block;
  background-repeat: no-repeat;
  min-height: 140px;
  max-width: 780px;
  width: 100%;
  float: right; }
  @media (max-width: 905px) {
    .menu {
      min-height: auto; }
      .menu ol {
        padding-bottom: 20px; } }
  .menu ol {
    padding-top: 55px;
    padding-right: 35px;
    display: flex;
    padding-left: 35px;
    justify-content: start;
    flex-wrap: wrap; }
    @media (min-width: 768px) and (max-width: 905px) {
      .menu ol {
        padding-top: 47px;
        padding-left: 20px;
        padding-right: 35px; } }
    @media (min-width: 560px) and (max-width: 675px) {
      .menu ol {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 35px; } }
    @media (max-width: 640px) {
      .menu ol {
        white-space: normal; } }
    @media (min-width: 1200px) {
      .menu ol {
        flex-wrap: nowrap; } }
    .menu ol a {
      border-right: 1px solid #fff; }
      .menu ol a:last-child {
        position: relative;
        border-right: none; }
    .menu ol li {
      padding: 4px 15px;
      list-style-type: none;
      font-family: "Gill Sans MT";
      font-size: 15px;
      font-weight: bold;
      line-height: 14px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase; }
      .menu ol li a {
        color: #fff; }
    .menu ol .camera:after {
      content: url("../img/camera.png");
      position: absolute;
      top: -1px;
      right: -20px; }

.menu-main {
  background-image: url("../img/test-background.png");
  max-width: none;
  position: relative;
  top: -85px; }
  .menu-main ol {
    padding-left: 60px;
    padding-right: 80px;
    margin-bottom: 0; }
    @media (min-width: 715px) {
      .menu-main ol {
        display: flex;
        justify-content: space-between; } }
    @media (max-width: 800px) {
      .menu-main ol {
        padding-left: 41px;
        padding-right: 50px;
        padding-top: 35px; } }
    @media (max-width: 660px) {
      .menu-main ol {
        padding-top: 20px;
        justify-content: start;
        flex-wrap: wrap;
        white-space: nowrap; } }
    @media (min-width: 550px) and (max-width: 600px) {
      .menu-main ol {
        padding-left: 20px; } }
    .menu-main ol a li {
      font-size: 21px;
      padding: 6px 17px;
      line-height: 19px; }
      @media (max-width: 920px) {
        .menu-main ol a li {
          font-size: 16px;
          padding: 4px 12px; } }
      @media (max-width: 1200px) {
        .menu-main ol a li {
          font-size: 17px; } }
      @media (min-width: 1250px) {
        .menu-main ol a li {
          font-size: 24px;
          padding: 6px 20px; } }
  @media (max-width: 1200px) {
    .menu-main {
      top: -45px; } }
  @media (max-width: 500px) {
    .menu-main {
      top: -30px; } }
  .menu-main .camera:after {
    top: 3px !important; }

.pink-paint {
  max-width: 420px;
  width: 100%;
  margin-left: 40px;
  margin-top: 100px;
  line-height: 36px; }
  @media (max-width: 768px) {
    .pink-paint {
      display: none; } }

.tips {
  color: #3eb54a;
  font-family: "Atelas Personal Use Only";
  font-size: 95px;
  font-weight: 400;
  line-height: 64px;
  display: table;
  margin: 20px auto; }

.gallery img {
  margin: 5px;
  border: 2px solid #fff; }
.gallery .slick-prev:before,
.gallery .slick-next:before {
  font-size: 50px; }
.gallery .slick-prev {
  left: -65px;
  z-index: 1;
  height: 50px !important;
  width: 50px !important; }
  @media (max-width: 768px) {
    .gallery .slick-prev {
      display: none !important; } }
.gallery .slick-next {
  right: -79px;
  z-index: 1;
  height: 50px !important;
  width: 50px !important; }
  @media (max-width: 768px) {
    .gallery .slick-next {
      display: none !important; } }

.under-green-text {
  font-family: 'Gill Sans MT';
  font-size: 27px;
  font-weight: 400;
  margin-top: 70px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .under-green-text {
      margin: 0 auto;
      display: table; } }
  .under-green-text p {
    line-height: 30px;
    margin-bottom: 0; }
    .under-green-text p:nth-of-type(1) {
      padding-left: 11.88px; }
    .under-green-text p:nth-of-type(2) {
      padding-left: 109.08px; }
      @media (max-width: 600px) {
        .under-green-text p:nth-of-type(2) {
          padding-left: 25px; } }
    .under-green-text p:nth-of-type(3) {
      margin-left: -70px; }
      @media (max-width: 600px) {
        .under-green-text p:nth-of-type(3) {
          margin-left: 0; } }
    .under-green-text p:nth-of-type(4) {
      padding-left: 51px;
      font-size: 46px;
      line-height: 52px; }
    .under-green-text p:nth-of-type(6) {
      padding-left: 140px; }
      @media (max-width: 600px) {
        .under-green-text p:nth-of-type(6) {
          padding-left: 35px; } }

.text-environment {
  color: #231f20;
  font-family: 'Gill Sans MT';
  font-size: 19px;
  font-weight: 400;
  margin-top: 25px;
  line-height: 22px; }

.green-paint {
  margin-top: 60px;
  max-width: 418px;
  float: right; }
  @media (max-width: 768px) {
    .green-paint {
      display: none; } }

.evryday {
  display: table;
  margin: 12px auto; }

.inspiraion {
  text-align: center;
  margin-top: 20px; }
  .inspiraion p:first-of-type {
    font-family: "Gill Sans MT";
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase; }
  .inspiraion p:last-of-type {
    margin-top: 5px;
    color: #231f20;
    font-family: "Atelas Personal Use Only";
    font-size: 51px;
    font-weight: 400;
    line-height: 25px; }

.videos .video-box {
  color: #3eb54a;
  font-family: "Gill Sans MT";
  font-size: 15px;
  font-weight: 700;
  max-width: 330px;
  width: 100%;
  text-align: center; }
  @media (max-width: 690px) {
    .videos .video-box {
      display: table;
      margin: 5px auto;
      padding: 0 !important; } }
  .videos .video-box .video {
    position: relative;
    border: 2px solid #e7e8e9;
    margin-bottom: 12px;
    width: 100%; }
    .videos .video-box .video img {
      width: 100%; }

.green-gradient {
  background-image: url("../img/gradient-green-reverse.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 160px;
  position: relative; }
  @media (max-width: 950px) {
    .green-gradient {
      margin-top: 50px; }
      .green-gradient p {
        display: table;
        margin: 70px auto 0 auto; } }
  .green-gradient .eco-image {
    position: absolute;
    top: -65px; }
    @media (min-width: 768px) and (max-width: 950px) {
      .green-gradient .eco-image {
        max-width: 400px;
        position: static; } }
    @media (max-width: 768px) {
      .green-gradient .eco-image {
        display: none; } }
  .green-gradient p {
    margin-top: 70px;
    color: #ffffff;
    font-family: "Gill Sans MT";
    font-size: 34px;
    font-weight: 400; }
  .green-gradient .download-pdf {
    color: #0a7b35;
    font-family: "Gill Sans MT";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 60px;
    border-radius: 25px;
    background: #fff;
    display: table;
    margin: 20px auto 25px auto; }

.bottom-paint {
  display: table;
  margin: 70px auto 50px auto; }

.videoFrame {
  cursor: pointer; }
  .videoFrame .curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15); }
  .videoFrame .playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 50px; }

.videoFrame.songBg1 {
  background-image: url("../assets/images/song-bg1.jpg"); }

.videoFrame.songBg2 {
  background-image: url("../assets/images/song-bg2.jpg"); }

.videoBanner {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 199; }
  .videoBanner .closeIcon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 3rem;
    z-index: 200;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%; }
  .videoBanner iframe {
    max-width: 853px;
    max-height: 480px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); }

.videoBanner.hiddenTransform {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10%);
  -webkit-transform: translateY(10%); }

.love-nature-row {
  margin-top: 60px; }
  .love-nature-row .image-love-nature {
    margin-top: 25px;
    max-width: 472px;
    width: 100%; }
    @media (max-width: 768px) {
      .love-nature-row .image-love-nature {
        display: table;
        margin: 30px auto; } }
  .love-nature-row .electro-place img {
    max-width: 307.56px;
    width: 100%;
    display: table;
    margin: 0 auto 35px auto; }
  .love-nature-row .electro-place p {
    font-family: "Gill Sans MT";
    color: #231f20;
    text-align: center; }
    .love-nature-row .electro-place p:nth-of-type(1) {
      font-size: 40px;
      font-weight: 400;
      line-height: 48px; }
    .love-nature-row .electro-place p:nth-of-type(2) {
      font-size: 19.2px;
      font-weight: 400;
      line-height: 21px; }
    .love-nature-row .electro-place p:nth-of-type(3) {
      margin-top: 35px;
      font-size: 19.2px;
      font-weight: 400;
      line-height: 21px;
      width: 510px;
      position: relative;
      left: -108px; }
      @media (max-width: 990px) {
        .love-nature-row .electro-place p:nth-of-type(3) {
          width: auto;
          position: static; } }
  .love-nature-row .electro-place .icon-facebook {
    margin: 20px auto 20px auto;
    max-width: 67.2px; }

.green-gradient-reverse {
  background-image: url("../img/gradient-green-reverse.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 40px;
  position: relative;
  padding-top: 30px; }
  .green-gradient-reverse p {
    text-align: center;
    color: #fff;
    font-family: "Gill Sans MT";
    font-size: 21px;
    line-height: 26px; }
  .green-gradient-reverse .footer-tags {
    display: table;
    margin: 20px auto; }
    .green-gradient-reverse .footer-tags p {
      display: inline-block;
      padding: 12px 18px;
      text-transform: uppercase;
      border-right: 2px solid #fff; }
  .green-gradient-reverse .footer-bottom-text {
    color: #ffffff;
    font-family: "Gill Sans MT";
    font-size: 24px;
    font-weight: bold;
    line-height: 42.59px;
    text-transform: uppercase;
    margin-top: 30px; }

.meet {
  margin-top: 70px;
  text-align: center;
  position: relative; }
  .meet h2 {
    color: #231f20;
    font-family: "Atelas Personal Use Only";
    font-size: 90px;
    line-height: 64px;
    font-style: italic;
    margin-bottom: 30px; }
    @media (max-width: 300px) {
      .meet h2 {
        font-size: 70px; } }
  .meet p {
    color: #231f20;
    font-family: "Gill Sans MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    max-width: 535px;
    display: table;
    margin: 20px auto; }
  .meet .pink-paint-right {
    max-width: 200px;
    top: 56px;
    position: absolute;
    right: 0px;
    z-index: -20; }
    @media (max-width: 600px) {
      .meet .pink-paint-right {
        display: none; } }
  .meet .green-paint-left {
    max-width: 320px;
    top: 21px;
    position: absolute;
    left: 0px;
    z-index: -20; }
    @media (max-width: 760px) {
      .meet .green-paint-left {
        top: -47px; } }
    @media (max-width: 325px) {
      .meet .green-paint-left {
        display: none; } }

.ambasadors {
  width: 100%; }
  @media (max-width: 766px) {
    .ambasadors {
      display: none; } }

.ambasadors-mobile {
  display: none; }
  @media (max-width: 766px) {
    .ambasadors-mobile {
      display: block;
      width: 100%; } }

.next-to-paint {
  padding-left: 45px; }
  @media (max-width: 540px) {
    .next-to-paint {
      padding-left: 0px; } }
  .next-to-paint b {
    color: #231f20;
    font-family: "Gill Sans MT";
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase; }
    @media (max-width: 420px) {
      .next-to-paint b {
        font-size: 33px; } }
  .next-to-paint span:nth-of-type(1) {
    color: #3eb54a;
    font-family: "Atelas Personal Use Only";
    font-size: 94px;
    font-weight: 400;
    line-height: 36.5px; }
    @media (max-width: 420px) {
      .next-to-paint span:nth-of-type(1) {
        font-size: 70px; } }
  .next-to-paint span:nth-of-type(2) {
    color: #231f20;
    font-family: "Gill Sans MT";
    font-size: 41px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 35px; }
    @media (max-width: 420px) {
      .next-to-paint span:nth-of-type(2) {
        font-size: 30px; } }
  @media (max-width: 768px) {
    .next-to-paint {
      display: table;
      margin: 15px auto; } }

.green-button {
  color: #ffffff;
  font-family: "Gill Sans MT";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background: #3eb549;
  padding: 17px 40px;
  border-radius: 25px;
  text-decoration: none;
  margin: 30px auto;
  display: table; }

.under-next-to-paint {
  color: #231f20;
  font-family: "Gill Sans MT";
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
  text-align: center; }

.green-paint-main {
  max-width: 442px;
  width: 100%; }
  @media (max-width: 768px) {
    .green-paint-main {
      display: none; } }

.images-background-pinks {
  position: relative; }
  .images-background-pinks img:nth-of-type(1) {
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: 0; }
    @media (max-width: 805px) {
      .images-background-pinks img:nth-of-type(1) {
        display: none; } }
  .images-background-pinks img:nth-of-type(2) {
    position: absolute;
    z-index: -3;
    top: 0;
    right: 122px; }
  @media (max-width: 768px) {
    .images-background-pinks {
      margin-top: 50px; }
      .images-background-pinks img:nth-of-type(2) {
        right: 0; } }

.invite-section {
  margin-top: 100px;
  position: relative; }
  .invite-section .paint-under-video {
    position: absolute;
    z-index: -3;
    bottom: -44px; }
    @media (max-width: 1200px) {
      .invite-section .paint-under-video {
        bottom: 0; } }
    @media (max-width: 930px) {
      .invite-section .paint-under-video {
        bottom: 35px; } }
    @media (max-width: 790px) {
      .invite-section .paint-under-video {
        display: none; } }
  .invite-section .videoFrame {
    max-width: 480px;
    width: 100%;
    position: relative; }
    @media (max-width: 580px) {
      .invite-section .videoFrame {
        max-width: none; } }
    .invite-section .videoFrame img {
      width: 100%; }
  .invite-section .atleas-green {
    color: #3eb54a;
    font-family: "Atelas Personal Use Only";
    font-size: 56px;
    text-align: center;
    font-weight: 400; }
  .invite-section .invite-text {
    color: #3eb54a;
    font-family: "Gill Sans MT";
    font-size: 22px;
    font-weight: 400;
    text-align: center; }
  .invite-section a {
    color: #ffffff;
    font-family: "Gill Sans MT";
    font-size: 16px;
    font-weight: 400;
    padding: 14px 16px;
    white-space: nowrap;
    display: table;
    margin: 50px auto;
    background: #3eb54a;
    border-radius: 25px;
    text-transform: uppercase; }
    @media (max-width: 330px) {
      .invite-section a {
        padding: 14px 7px;
        white-space: normal; } }

.green-gradient-main {
  background-image: url("../img/gradient-green-reverse.png") !important; }
  .green-gradient-main .eco-image {
    width: 100%;
    max-width: 540px; }

.organizators {
  margin-top: 140px;
  color: #231f20;
  font-family: "Gill Sans MT";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }
  .organizators img {
    display: table;
    margin: 40px auto; }
  .organizators img.oriflame {
    max-width: 230px;
    width: 100%; }
  .organizators img.partners {
    max-width: 354px;
    width: 100%; }

.pink-box {
  margin-top: 70px;
  background: #f7abad;
  text-align: center; }
  .pink-box span {
    color: #ffffff;
    font-family: "Atelas Personal Use Only";
    font-size: 63px;
    font-weight: 400; }
  .pink-box .hashtag {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; }
  .pink-box .instagram {
    position: relative;
    top: -10px;
    padding-left: 15px;
    max-width: 143px; }
  .pink-box p {
    color: #231f20;
    font-family: "Gill Sans MT";
    font-size: 19px;
    font-weight: 400; }
  .pink-box img {
    width: 100%; }
  .pink-box .no-padding-box {
    padding: 0; }
    @media (min-width: 768px) {
      .pink-box .no-padding-box img {
        float: right;
        height: 100%; } }

.white-button {
  color: #231f20;
  font-family: "Gill Sans MT";
  font-size: 15px;
  font-weight: 400;
  padding: 17px 50px;
  border-radius: 25px;
  background: #fff;
  margin: 25px auto 35px auto;
  display: table;
  text-transform: uppercase; }

.contest-column h3 {
  font-family: "Atelas Personal Use Only";
  font-size: 120px;
  color: #3eb549;
  margin-top: 100px;
  text-align: center;
  font-weight: 400; }
  @media (max-width: 320px) {
    .contest-column h3 {
      font-size: 90px; } }
.contest-column p {
  color: #000000;
  font-family: "Gill Sans MT";
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  font-weight: 400; }
.contest-column .instagram-logo {
  margin: 35px auto 36px auto;
  display: table; }
  .contest-column .instagram-logo img {
    max-width: 150px;
    width: 100%; }
.contest-column .green-paint {
  max-width: 469.2px;
  display: table;
  width: 100%;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .contest-column .green-paint {
      display: none; } }

.tel-column .tel-green {
  max-width: 333.6px;
  width: 100%;
  display: table;
  margin: 20px auto; }
.tel-column h3 {
  font-family: "Atelas Personal Use Only";
  font-size: 100px;
  line-height: 75px;
  color: #3eb549;
  text-align: center;
  font-weight: 400; }
.tel-column h4 {
  color: #000000;
  font-family: "Atelas Personal Use Only";
  font-size: 60px;
  font-weight: 400;
  margin-top: 50px;
  text-align: center; }
.tel-column p {
  color: #000000;
  font-family: "Gill Sans MT";
  font-size: 19.2px;
  text-align: center; }
.tel-column .recommendations {
  max-width: 430px;
  display: table;
  list-style: none;
  padding-left: 0;
  margin: 0 auto; }
  .tel-column .recommendations li {
    display: inline-block;
    font-family: "Gill Sans MT";
    font-size: 18px;
    font-weight: 400;
    margin: 15px;
    position: relative; }
    @media (max-width: 450px) {
      .tel-column .recommendations li {
        display: block; } }
    .tel-column .recommendations li:before {
      content: '// ';
      font-weight: 400;
      font-size: 18px;
      top: 0;
      color: #3eb549;
      position: absolute;
      left: -15px; }

.contest-green {
  background-image: url("../img/gradient-green-reverse.png");
  background-size: 100% 100%;
  padding-bottom: 30px;
  background-repeat: no-repeat; }
  .contest-green .box-green {
    color: #fff;
    padding: 24px;
    max-width: 516px;
    border: 2px solid #fff;
    text-align: center;
    margin: 40px auto; }
    .contest-green .box-green p {
      font-family: "Gill Sans MT";
      font-size: 19.2px;
      font-weight: 400; }
    .contest-green .box-green b {
      color: #fff;
      font-family: "Gill Sans MT";
      font-size: 45.6px;
      font-weight: 700; }
      @media (max-width: 410px) {
        .contest-green .box-green b {
          font-size: 36px; } }
      @media (max-width: 340px) {
        .contest-green .box-green b {
          font-size: 24px; } }
    .contest-green .box-green .white-button {
      color: #000000;
      font-family: "Gill Sans MT";
      font-size: 24px;
      text-transform: uppercase;
      padding: 18px 42px; }
  .contest-green .invite-message {
    color: #fff;
    font-family: "Gill Sans MT";
    font-size: 19.2px;
    text-align: center;
    display: table;
    margin: 0 auto;
    max-width: 840px;
    font-weight: 400; }

.gray-column-image {
  max-width: 465px;
  width: 100%; }

.oriflame-footer img {
  max-width: 220px;
  width: 100%; }
  @media (max-width: 530px) {
    .oriflame-footer img {
      display: table;
      margin: 0px auto; } }
.oriflame-footer a {
  padding: 20px;
  background: #f8abad;
  font-family: "Gill Sans MT";
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  color: #000;
  margin-left: 25px;
  text-transform: uppercase; }
  @media (max-width: 530px) {
    .oriflame-footer a {
      display: table;
      margin: 30px auto; } }
.oriflame-footer .oriflame-box {
  margin: 70px auto;
  display: table; }

.awards-column h3 {
  color: #000000;
  font-family: "Atelas Personal Use Only";
  font-size: 117px;
  text-align: center;
  color: #fff;
  font-weight: 400; }
  @media (max-width: 350px) {
    .awards-column h3 {
      font-size: 84px; } }
.awards-column p:nth-of-type(1) {
  color: #fff;
  font-family: "Gill Sans MT";
  font-size: 22.2px;
  text-align: center;
  font-weight: 400;
  line-height: 30px; }
  .awards-column p:nth-of-type(1) span {
    font-family: "Gill Sans MT";
    font-size: 34.8px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
.awards-column p:nth-of-type(2) {
  color: #fff;
  font-family: "Gill Sans MT";
  font-size: 17px;
  text-align: center;
  font-weight: 400;
  line-height: 30px; }
  .awards-column p:nth-of-type(2) span {
    font-family: "Gill Sans MT";
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }

.tetra-glump img {
  max-width: 344.4px;
  width: 100%; }
  @media (max-width: 990px) {
    .tetra-glump img {
      display: table;
      margin: 0 auto; } }
.tetra-glump p {
  color: #fff;
  font-family: "Gill Sans MT";
  font-size: 19.2px;
  font-weight: 400; }
  .tetra-glump p:nth-of-type(1) {
    margin-top: 27px; }

.green-products {
  max-width: 519px;
  width: 100%; }

.brown-background {
  background-image: url("../img/brown-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 30px; }
  .brown-background p {
    font-family: "Gill Sans MT";
    font-size: 19.2px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    text-transform: uppercase; }

.oriflame-section {
  position: relative;
  margin-top: 40px; }
  .oriflame-section .oriflame-logo-center {
    max-width: 286px;
    width: 100%;
    margin: 50px auto 50px auto;
    display: table; }
  .oriflame-section .center-oriflame-text {
    color: #231f20;
    font-family: "Gill Sans MT";
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    max-width: 670px;
    margin: 0 auto; }
  .oriflame-section .green-right-image {
    position: absolute;
    left: 00px;
    top: 0;
    z-index: -1; }
    @media (max-width: 870px) {
      .oriflame-section .green-right-image {
        display: none; } }

.next-to-text-image {
  margin-top: 130px;
  font-family: "Gill Sans MT";
  font-size: 17px;
  font-weight: 400;
  position: relative; }
  .next-to-text-image p {
    max-width: 410px;
    position: relative; }
  .next-to-text-image img {
    position: absolute;
    top: -45px;
    left: -35px;
    z-index: -3;
    max-width: 118px; }
    @media (max-width: 490px) {
      .next-to-text-image img {
        top: -77px;
        left: -7px; } }

@media (max-width: 768px) {
  .center-mobile {
    display: table;
    margin: 0 auto; } }
.peoples-image {
  max-width: 480px;
  width: 100%; }

.nopadding-all {
  padding: 0 !important;
  margin: 0 !important; }

.gradient-green-oriflame {
  background-image: url("../img/gradient-green-reverse.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 60px;
  position: relative;
  padding-bottom: 60px; }
  .gradient-green-oriflame p {
    font-family: "Gill Sans MT";
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #fff; }
    .gradient-green-oriflame p b {
      font-size: 24px;
      font-weight: 700;
      position: relative;
      text-transform: uppercase; }
      .gradient-green-oriflame p b img {
        position: relative; }
        @media (min-width: 640px) {
          .gradient-green-oriflame p b img {
            top: -10px;
            right: -10px;
            position: relative; } }
  .gradient-green-oriflame .green-paint-heart {
    position: absolute;
    max-width: 330px;
    left: 0;
    right: 0;
    bottom: -170px;
    margin: 0 auto;
    width: 100%; }
    @media (max-width: 390px) {
      .gradient-green-oriflame .green-paint-heart {
        bottom: -60px;
        max-width: 150px; } }

.about-green {
  padding-bottom: 100px; }

.about-video {
  max-width: 970px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 95px auto 30px auto; }
  .about-video img {
    width: 100%; }

.height-green {
  padding-bottom: 0; }

.about h3 {
  color: #3eb54a;
  font-family: "Atelas Personal Use Only";
  font-size: 121px;
  text-align: center;
  position: relative;
  font-weight: 400;
  margin-top: 100px; }
  @media (max-width: 800px) {
    .about h3 {
      margin-bottom: 40px; } }
  @media (max-width: 300px) {
    .about h3 {
      font-size: 80px; } }
.about .gradient-green-oriflame p {
  text-align: left;
  font-size: 16px; }
.about .gradient-green-oriflame b {
  font-size: 17px; }
.about .center-bold {
  color: #ffffff;
  font-family: "Gill Sans MT";
  font-size: 21px !important;
  font-weight: 400;
  text-align: center !important;
  margin-top: 45px;
  text-transform: uppercase; }

.paint-green-absolute {
  transform: scaleX(-1);
  position: absolute;
  top: -64px;
  right: 0px;
  z-index: -3; }

.slick-slide {
  margin: 0 10px; }

.mountain-text {
  margin-top: 60px; }
  .mountain-text p {
    color: #000000;
    font-family: "Gill Sans MT";
    font-size: 19.2px;
    text-align: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic; }
  .mountain-text .mountains {
    width: 100%; }
    @media (min-width: 700px) {
      .mountain-text .mountains {
        position: relative;
        top: -80px;
        z-index: -3; } }

.slick-list {
  overflow: hidden; }

.slick-list:after {
  clear: both;
  content: "";
  display: block; }

@media (max-width: 990px) {
  .container {
    max-width: none !important; } }
@media (max-width: 560px) {
  .no-padding {
    padding: 0; } }
@media (max-width: 560px) {
  .menu {
    background-size: cover;
    background-position: center; }
    .menu ol {
      padding-top: 20px;
      justify-content: start;
      flex-wrap: wrap;
      white-space: nowrap; }
      .menu ol a {
        margin: 7px 0; } }

/*# sourceMappingURL=css.css.map */
