@font-face {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    src: local('Calibri'), url('fonts/Calibri.ttf') format('ttf');
}

@font-face {
    font-family: "Atelas Personal Use Only";
    font-style: normal;
    font-weight: normal;
    src: local('Atelas'), url('fonts/Atelas_PersonalUseOnly.ttf') format('truetype');
}

@font-face {
    font-family: "Gill Sans MT";
    src: url('fonts/33535gillsansmt.eot');
    src: local('33535gillsansmt'), url('fonts/33535gillsansmt.woff') format('woff'), url('fonts/gillsansmt.ttf') format('truetype');
}

$size: 0.54;

.logo {
    max-width: 200px;
    display: table;
    margin: 10px auto;
}

.logo-main-page {
    display: table;
    max-width: 384px;
    width: 100%;
    margin: 80px auto 20px auto;
    @media (max-width: 440px) {
    	max-width: 192px;
    }
}

.menu {
    background-image: url("../img/bg.png");
    background-size: 100% 100%;
    display: block;
    background-repeat: no-repeat;
    min-height: 140px;
    max-width: 780px;
    width: 100%;
    float: right;

    @media (max-width: 905px) {
        min-height: auto;

        ol {
            padding-bottom: 20px;
        }
    }

    ol {

        padding-top: 55px;
        padding-right: 35px;
        display: flex;
        padding-left: 35px;
        justify-content: start;
        flex-wrap: wrap;

        @media (min-width: 768px) and (max-width:905px) {
            padding-top: 47px;
            padding-left: 20px;
            padding-right: 35px;
        }

        @media (min-width:560px) and (max-width:675px) {
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 35px;
        }

        @media (max-width: 640px) {
            white-space: normal;
        }
         @media (min-width: 1200px) {
            flex-wrap: nowrap;
        }


        a {
            border-right: 1px solid #fff;

            &:last-child {
                position: relative;
                border-right: none;
            }
        }

        li {
            padding: 4px 15px;
            list-style-type: none;
            font-family: "Gill Sans MT";
            font-size: 15px;
            font-weight: bold;
            line-height: 14px;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;

            a {
                color: #fff;
            }

        }

        .camera:after {
            content: url('../img/camera.png');
            position: absolute;
            top: -1px;
            right: -20px;
        }

    }
}

.menu-main {
    background-image: url("../img/test-background.png");
    max-width: none;
    position: relative;
    top: -85px;


    ol {
        padding-left: 60px;
        padding-right: 80px;
        margin-bottom: 0;


        @media (min-width: 715px) {
            display: flex;
            justify-content: space-between;

        }

        @media (max-width: 800px) {
            padding-left: 41px;
            padding-right: 50px;
            padding-top: 35px;

        }

        @media (max-width: 660px) {
            padding-top: 20px;
            justify-content: start;
            flex-wrap: wrap;
            white-space: nowrap;

        }

        // @media (min-width: 560px) and (max-width:745px) {
        //     a:nth-of-type(2) li {
        //         max-width: 145px;
        //     }
        // }

        @media (min-width: 550px) and (max-width:600px) {
            padding-left: 20px;
        }

        a {
            li {
                font-size: 21px;
                padding: 6px 17px;
                line-height: 19px;

                @media (max-width: 920px) {
                    font-size: 16px;
                    padding: 4px 12px;

                }

                @media (max-width: 1200px) {
                    font-size: 17px;
                }

                @media (min-width: 1250px) {
                    font-size: 24px;
                    padding: 6px 20px;

                }
                 @media (max-width: 480px) {
                    font-size: 14px;
                    padding: 4px 12px;

                }
            }
        }
    }

    @media (max-width: 1200px) {
        top: -45px;

    }

    @media (max-width: 500px) {
        top: -30px;

    }

    .camera:after {
        top: 3px !important;
    }

}

.pink-paint {
    max-width: 420px;
    width: 100%;
    margin-left: 40px;
    margin-top: 100px;
    line-height: 36px;

    @media (max-width: 768px) {
        display: none;
    }
}


.tips {
    color: #3eb54a;
font-family: "Atelas Personal Use Only";
font-size: 95px;
font-weight: 400;
line-height: 64px;
 display: table;
        margin: 20px auto;
        @media (max-width: 450px) {
        font-size: 50px;
            line-height: 44px;
    }

}

.gallery {

    img {
        margin: 5px;
        border: 2px solid #fff;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 50px;


    }

    .slick-prev {
        left: -65px;
		z-index: 1;
		height: 50px !important;
        width: 50px !important;
        @media (max-width: 768px) {
            display: none !important;
        }
    }

    .slick-next {
        right: -79px;
		z-index: 1;
		height: 50px !important;
        width: 50px !important;
        @media (max-width: 768px) {
            display: none !important;
        }
    }

}

.under-green-text {
    font-family: 'Gill Sans MT';
    font-size: 50px * $size;
    font-weight: 400;
    margin-top: 70px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;

    @media (max-width: 768px) {
        margin: 0 auto;
        display: table;
    }


    p {
        line-height: 30px;
        margin-bottom: 0;

        &:nth-of-type(1) {
            padding-left: 22px * $size;

        }

        &:nth-of-type(2) {
            padding-left: 202px * $size;

            @media (max-width: 600px) {
                padding-left: 25px;
            }

        }

        &:nth-of-type(3) {
            margin-left: -70px;

            @media (max-width: 600px) {
                margin-left: 0;
            }

        }

        &:nth-of-type(4) {
            padding-left: 51px;
            font-size: 46px;
            line-height: 52px;

        }

        &:nth-of-type(6) {
            padding-left: 140px;

            @media (max-width: 600px) {
                padding-left: 35px;
            }


        }
    }

}

.text-environment {
    color: #231f20;
    font-family: 'Gill Sans MT';
    font-size: 19px;
    font-weight: 400;
    margin-top: 25px;
    line-height: 22px;

}

.green-paint {
    margin-top: 60px;
    max-width: 418px;
    float: right;

    @media (max-width: 768px) {
        display: none;
    }
}

.evryday {
    display: table;
    margin: 12px auto;
}

.inspiraion {
    text-align: center;
    margin-top: 20px;

    p:first-of-type {
        font-family: "Gill Sans MT";
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase;
    }

    p:last-of-type {
        margin-top: 5px;
        color: #231f20;
        font-family: "Atelas Personal Use Only";
        font-size: 51px;
        font-weight: 400;
        line-height: 25px;

    }
}

.videos {
    .video-box {
        color: #3eb54a;
        font-family: "Gill Sans MT";
        font-size: 15px;
        font-weight: 700;
        display: inline-block;
        max-width: 330px;
        width: 100%;
        text-align: center;

        @media (max-width: 690px) {
            display: table;
            margin: 5px auto;
            padding: 0 !important;
        }

        .video {
            position: relative;
            border: 2px solid #e7e8e9;
            margin-bottom: 12px;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

.green-gradient {
    background-image: url("../img/gradient-green-reverse.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 160px;
    position: relative;

    @media (max-width: 950px) {
        margin-top: 50px;

        p {
            display: table;
            margin: 70px auto 0 auto;
        }
    }

    .eco-image {
        position: absolute;
        top: -65px;

        @media (min-width: 768px) and (max-width:950px) {
            max-width: 400px;
            position: static;
        }

        @media (max-width: 768px) {

            display: none;
        }
    }

    p {
        margin-top: 70px;
        color: #ffffff;
        font-family: "Gill Sans MT";
        font-size: 34px;
        font-weight: 400;
    }

    .download-pdf {
        color: #0a7b35;
        font-family: "Gill Sans MT";
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 20px 60px;
        border-radius: 25px;
        background: #fff;
        display: table;
        margin: 20px auto 25px auto;
    }
}

.bottom-paint {
    display: table;
    margin: 70px auto 50px auto;
}

.videoFrame {
    cursor: pointer;

    .curtain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
    }

    .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        max-width: 50px;
    }
}

.videoFrame.songBg1 {
    background-image: url("../assets/images/song-bg1.jpg");
}

.videoFrame.songBg2 {
    background-image: url("../assets/images/song-bg2.jpg");
}

.videoBanner {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 199;

    .closeIcon {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 3rem;
        z-index: 200;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 50%;
    }

    iframe {
        max-width: 853px;
        max-height: 480px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.videoBanner.hiddenTransform {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
}

.love-nature-row {
    margin-top: 60px;

    .image-love-nature {
        margin-top: 25px;
        max-width: 472px;
        width: 100%;

        @media (max-width: 768px) {
            display: table;
            margin: 30px auto;
        }
    }

    .electro-place {
        img {
            max-width: 466px * 0.66;
            width: 100%;
            display: table;
            margin: 0 auto 35px auto;


        }

        p {
            font-family: "Gill Sans MT";
            color: #231f20;
            text-align: center;

            &:nth-of-type(1) {
                font-size: 40px;
                font-weight: 400;
                line-height: 48px;
            }

            &:nth-of-type(2) {
                font-size: 32px * 0.6;
                font-weight: 400;
                line-height: 21px;
            }

            &:nth-of-type(3) {
                margin-top: 35px;
                font-size: 19.2px;
                font-weight: 400;
                line-height: 21px;
                width: 510px;
                position: relative;
                left: -108px;

                @media (max-width: 990px) {

                    width: auto;
                    position: static;
                }

            }
        }

        .icon-facebook {
            margin: 20px auto 20px auto;
            max-width: 112px * 0.6;
        }

    }
}

.green-gradient-reverse {
    background-image: url("../img/gradient-green-reverse.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    position: relative;
    padding-top: 30px;

    p {
        text-align: center;
        color: #fff;
        font-family: "Gill Sans MT";
        font-size: 35px * 0.6;


        line-height: 26px;
    }

    .footer-tags {
        display: table;
        margin: 20px auto;

        p {
            display: inline-block;
            padding: 12px 18px;
            text-transform: uppercase;
            border-right: 2px solid #fff;
        }
    }

    .footer-bottom-text {
        color: #ffffff;
        font-family: "Gill Sans MT";
        font-size: 40px * 0.6;
        font-weight: bold;
        line-height: 42.59px;
        text-transform: uppercase;
        margin-top: 30px;
    }
}

.meet {
    margin-top: 70px;
    text-align: center;
    position: relative;

    h2 {
        color: #231f20;
        font-family: "Atelas Personal Use Only";
        font-size: 90px;
        line-height: 64px;
        font-style: italic;
        margin-bottom: 30px;

        @media (max-width: 300px) {
            font-size: 70px;
        }

    }

    p {
        color: #231f20;
        font-family: "Gill Sans MT";
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        max-width: 535px;
        display: table;
        margin: 20px auto;
    }

    .pink-paint-right {
        max-width: 200px;
        top: 56px;
        position: absolute;
        right: 0px;
        z-index: -20;

        @media (max-width: 600px) {
            display: none;
        }
    }

    .green-paint-left {
        max-width: 320px;
        top: 21px;
        ;
        position: absolute;
        left: 0px;
        z-index: -20;

        @media (max-width: 760px) {
            top: -47px;
        }

        @media (max-width: 325px) {
            display: none;
        }
    }
}

.ambasadors {
    width: 100%;

    @media (max-width: 766px) {
        display: none;
    }
}

.ambasadors-mobile {
    display: none;

    @media (max-width: 766px) {
        display: block;
        width: 100%;
    }
}

.next-to-paint {
    padding-left: 45px;

    @media (max-width: 540px) {
        padding-left: 0px;
    }

    b {
        color: #231f20;
        font-family: "Gill Sans MT";
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width: 420px) {
            font-size: 33px;
        }
    }

    span:nth-of-type(1) {
        color: #3eb54a;
        font-family: "Atelas Personal Use Only";
        font-size: 94px;
        font-weight: 400;
        line-height: 36.5px;

        @media (max-width: 420px) {
            font-size: 70px;
        }
    }

    span:nth-of-type(2) {
        color: #231f20;
        font-family: "Gill Sans MT";
        font-size: 41px;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 35px;

        @media (max-width: 420px) {
            font-size: 30px;
        }
    }

    @media (max-width: 768px) {
        display: table;
        margin: 15px auto;
    }


}

.green-button {
    color: #ffffff;
    font-family: "Gill Sans MT";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background: #3eb549;
    padding: 17px 40px;
    border-radius: 25px;
    text-decoration: none;
    margin: 30px auto;
    display: table;
}

.under-next-to-paint {
    color: #231f20;
    font-family: "Gill Sans MT";
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

}

.green-paint-main {
    max-width: 442px;
    width: 100%;

    @media (max-width: 768px) {
        display: none;
    }
}

.images-background-pinks {
    position: relative;

    img:nth-of-type(1) {
        position: absolute;
        z-index: -3;
        bottom: 0;
        left: 0;

        @media (max-width: 805px) {
            display: none;
        }
    }

    img:nth-of-type(2) {
        position: absolute;
        z-index: -3;
        top: 0;
        right: 122px;
    }

    @media (max-width: 768px) {
        img:nth-of-type(2) {
            right: 0
        }

        margin-top: 50px;
    }

}

.invite-section {
    margin-top: 100px;
    position: relative;

    .paint-under-video {
        position: absolute;
        z-index: -3;
        bottom: -44px;
 @media (max-width: 1200px) {
            bottom: 0;
        }
         @media (max-width: 930px) {
            bottom: 35px;
        }
        @media (max-width: 790px) {
            display: none;
        }
    }

    .videoFrame {
        max-width: 480px;
        width: 100%;
        position: relative;

        @media (max-width: 580px) {
            max-width: none;
        }

        img {
            width: 100%;
        }
    }

    .atleas-green {
        color: #3eb54a;
        font-family: "Atelas Personal Use Only";
        font-size: 56px;
        text-align: center;
        font-weight: 400;
    }

    .invite-text {
        color: #3eb54a;
        font-family: "Gill Sans MT";
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }

    a {
        color: #ffffff;
        font-family: "Gill Sans MT";
        font-size: 16px;
        font-weight: 400;
        padding: 14px 16px;
        white-space: nowrap;
        display: table;
        margin: 50px auto;
        background: #3eb54a;
        border-radius: 25px;
        text-transform: uppercase;

        @media (max-width: 330px) {
            padding: 14px 7px;
            white-space: normal;
        }
    }
}

.green-gradient-main {
    background-image: url("../img/gradient-green-reverse.png") !important;

    .eco-image {
        width: 100%;
        max-width: 540px;
    }
}

.organizators {
    margin-top: 140px;
    color: #231f20;
    font-family: "Gill Sans MT";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    img {
        display: table;
        margin: 40px auto;

    }

    img.oriflame {
        max-width: 230px;
        width: 100%;
    }

    img.partners {
        max-width: 354px;
        width: 100%;
    }
}

.pink-box {
    margin-top: 70px;
    background: #f7abad;
    text-align: center;

    span {
        color: #ffffff;
        font-family: "Atelas Personal Use Only";
        font-size: 63px;
        font-weight: 400;
    }
    .hashtag{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    }

    .instagram {
        position: relative;
        top: -10px;
        padding-left: 15px;
        max-width: 143px;
    }

    p {
        color: #231f20;
        font-family: "Gill Sans MT";
        font-size: 19px;
        font-weight: 400;

    }

    img {
        width: 100%;
    }

    .no-padding-box {
        padding: 0;

        @media (min-width: 768px) {
            img {
                float: right;
                height: 100%;
            }
        }
    }
}

.white-button {
    color: #231f20;
    font-family: "Gill Sans MT";
    font-size: 15px;
    font-weight: 400;
    padding: 17px 50px;
    border-radius: 25px;
    background: #fff;
    margin: 25px auto 35px auto;
    display: table;
    text-transform: uppercase;
}

.contest-column {
    h3 {
        font-family: "Atelas Personal Use Only";
        font-size: 120px;
        color: #3eb549;
        margin-top: 100px;
        text-align: center;
        font-weight: 400;
          @media (max-width: 320px) {
          font-size: 90px;
        }
    }

    p {
        color: #000000;
        font-family: "Gill Sans MT";
        font-size: 20px;
        text-align: center;
        line-height: 24px;
        font-weight: 400;
    }

    .instagram-logo {
        margin: 35px auto 36px auto;
        display: table;

        img {
            max-width: 250px * 0.6;
            width: 100%;
        }
    }

    .green-paint {
        max-width: 782px * 0.6;
        display: table;
        width: 100%;
        position: absolute;
        bottom: 0;
        margin: 0 auto;

        @media (max-width: 768px) {

            display: none;
        }
    }
}

.tel-column {
    .tel-green {
        max-width: 556px * 0.6;
        width: 100%;
        display: table;
        margin: 20px auto;
    }

    h3 {
        font-family: "Atelas Personal Use Only";
        font-size: 100px;
        line-height: 75px;
        color: #3eb549;
        text-align: center;
        font-weight: 400;
    }

    h4 {
        color: #000000;
        font-family: "Atelas Personal Use Only";
        font-size: 60px;
        font-weight: 400;
        margin-top: 50px;
        text-align: center;
    }

    p {
        color: #000000;
        font-family: "Gill Sans MT";
        font-size: 32px * 0.6;
        text-align: center;
    }

    .recommendations {
        max-width: 430px;
        display: table;
        list-style: none;
        padding-left: 0;
        margin: 0 auto;

        li {
            display: inline-block;
            font-family: "Gill Sans MT";
            font-size: 18px;
            font-weight: 400;
            margin: 15px;
            position: relative;

            @media (max-width: 450px) {

                display: block;
            }

            &:before {
                content: '// ';
                font-weight: 400;
                font-size: 18px;
                top: 0;
                color: #3eb549;
                position: absolute;
                left: -15px;
            }
        }

    }
}

.contest-green {
    background-image: url("../img/gradient-green-reverse.png");
    background-size: 100% 100%;
    padding-bottom: 30px;
    background-repeat: no-repeat;

    .box-green {
        color: #fff;
        padding: 40px * 0.6;
        max-width: 860px * 0.6;
        border: 2px solid #fff;
        text-align: center;
        margin: 40px auto;

        p {
            font-family: "Gill Sans MT";
            font-size: 32px * 0.6;
            font-weight: 400;

        }

        b {
            color: #fff;
            font-family: "Gill Sans MT";
            font-size: 76px * 0.6;
            font-weight: 700;

            @media (max-width: 410px) {
                font-size: 60px * 0.6;
            }
            @media (max-width: 340px) {
                font-size: 40px * 0.6;
            }

        }

        .white-button {
            color: #000000;
            font-family: "Gill Sans MT";
            font-size: 24px;
            text-transform: uppercase;
            padding: 30px * 0.6 70px * 0.6;
        }
    }

    .invite-message {
        color: #fff;
        font-family: "Gill Sans MT";
        font-size: 32px * 0.6;
        text-align: center;
        display: table;
        margin: 0 auto;
        max-width: 1400px * 0.6;
        font-weight: 400;
    }

}

.gray-column-image {
    max-width: 775px * 0.6;
    width: 100%;
}

.oriflame-footer {
    img {
        max-width: 220px;
        width: 100%;

        @media (max-width: 530px) {
            display: table;
            margin: 0px auto;
        }


    }

    a {
        padding: 20px;
        background: #f8abad;
        font-family: "Gill Sans MT";
        font-size: 16px;
        font-weight: 400;
        border-radius: 25px;
        color: #000;
        margin-left: 25px;
        text-transform: uppercase;

        @media (max-width: 530px) {
            display: table;
            margin: 30px auto;
        }
    }

    .oriflame-box {
        margin: 70px auto;
        display: table;
    }
}

.awards-column {
    h3 {
        color: #000000;
        font-family: "Atelas Personal Use Only";
        font-size: 195px * 0.6;
        text-align: center;
        color: #fff;
        font-weight: 400;
        @media (max-width: 350px) {
            font-size: 140px * 0.6;
        }

    }

    p:nth-of-type(1) {
        color: #fff;
        font-family: "Gill Sans MT";
        font-size: 37px * 0.6;
        text-align: center;
        font-weight: 400;
        line-height: 30px;

        span {
            font-family: "Gill Sans MT";
            font-size: 58px * 0.6;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
    }

    p:nth-of-type(2) {
        color: #fff;
        font-family: "Gill Sans MT";
        font-size: 17px;
        text-align: center;
        font-weight: 400;
        line-height: 30px;

        span {
            font-family: "Gill Sans MT";
            font-size: 35px * 0.6;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.tetra-glump {
    img {
        max-width: 574px * 0.6;
        width: 100%;

        @media (max-width: 990px) {
            display: table;
            margin: 0 auto;
        }
    }

    p {
        color: #fff;
        font-family: "Gill Sans MT";
        font-size: 32px * 0.6;
        font-weight: 400;

        &:nth-of-type(1) {
            margin-top: 45px * 0.6;
        }
    }
}

.green-products {
    max-width: 865px * 0.6;
    width: 100%;
}

.brown-background {
    background-image: url("../img/brown-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 30px;

    p {
        font-family: "Gill Sans MT";
        font-size: 32px * 0.6;
        color: #fff;
        text-align: center;
        margin-top: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.oriflame-section {
    position: relative;
    margin-top: 40px;

    .oriflame-logo-center {
        max-width: 286px;
        width: 100%;
        margin: 50px auto 50px auto;
        display: table;
    }

    .center-oriflame-text {
        color: #231f20;
        font-family: "Gill Sans MT";
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        max-width: 670px;
        margin: 0 auto;
    }

    .green-right-image {
        position: absolute;
        left: 00px;
        top: 0;
        z-index: -1;

        @media (max-width: 870px) {
            display: none;
        }
    }
}

.next-to-text-image {
    margin-top: 130px;
    font-family: "Gill Sans MT";
    font-size: 17px;
    font-weight: 400;

    position: relative;

    p {
        max-width: 410px;
        position: relative;
    }

    img {
        position: absolute;
        top: -45px;
        left: -35px;
        z-index: -3;
        max-width: 118px;

        @media (max-width: 490px) {
            top: -77px;
            left: -7px;
        }

    }
}

@media (max-width: 768px) {
    .center-mobile {
        display: table;
        margin: 0 auto;
    }
}

.peoples-image {
    max-width: 480px;
    width: 100%;
}

.nopadding-all {
    padding: 0 !important;
    margin: 0 !important;
}

.gradient-green-oriflame {
    background-image: url("../img/gradient-green-reverse.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 60px;
    position: relative;
    padding-bottom: 60px;

    p {
        font-family: "Gill Sans MT";
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        color: #fff;

        b {
            font-size: 24px;
            font-weight: 700;
            position: relative;
            text-transform: uppercase;

            img {
                position: relative;

                @media (min-width: 640px) {
                    top: -10px;
                    right: -10px;
                    position: relative;
                }

            }
        }
    }    .green-paint-heart{
    	position: absolute;
    	max-width: 330px;
    	    left: 0;
    	    @media (max-width: 390px) {
                    bottom: -60px;
                    max-width: 150px;
                }

    right: 0;
    	    bottom: -170px;
    	    margin: 0 auto;
    	width: 100%;
    }
}
.about-green{
	padding-bottom: 100px;
}
.about-video{
	max-width: 970px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 95px auto 30px auto;
	img{
		width: 100%;
	}
}
.height-green{
	padding-bottom: 0;
}
.about {
    h3 {
        color: #3eb54a;
        font-family: "Atelas Personal Use Only";
        font-size: 121px;
        text-align: center;
        position: relative;
        font-weight: 400;
        margin-top: 100px;
        @media (max-width: 800px) {
            margin-bottom: 40px;
        }
        @media (max-width: 300px) {
            font-size: 80px;
        }
    }

    .gradient-green-oriflame {
        p {
            text-align: left;
            font-size: 16px;
        }

        b {
            font-size: 17px;
        }
    }

    .center-bold {
        color: #ffffff;
        font-family: "Gill Sans MT";
        font-size: 21px !important;
        font-weight: 400;
        text-align: center !important;
        margin-top: 45px;
        text-transform: uppercase;
    }
}

.paint-green-absolute {
    transform: scaleX(-1);
    position: absolute;
    top: -64px;
    right: 0px;
    z-index: -3;
}
.slick-slide {
    margin: 0 10px;
  }

.mountain-text {
	margin-top: 60px;
    p {
        color: #000000;
        font-family: "Gill Sans MT";
        font-size: 32px * 0.6;
        text-align: center;
        max-width: 1600px * 0.6;
        margin-left: auto;
        margin-right: auto;
        font-style: italic;
    }

    .mountains {
        width: 100%;

        @media (min-width: 700px) {
            position: relative;
            top: -80px;
            z-index: -3;
        }
    }
}
.slick-list{
  overflow: hidden;
}
.slick-list:after{
  clear: both;
  content: "";
  display: block;
}

@media (max-width: 990px) {
    .container {
        max-width: none !important;
    }
}

@media (max-width: 560px) {
    .no-padding {
        padding: 0;
    }
}

@media (max-width: 560px) {
    .menu {
        background-size: cover;
        background-position: center;

        ol {
            padding-top: 20px;
            justify-content: start;
            flex-wrap: wrap;
            white-space: nowrap;

            a {
                margin: 1px 0;
            }
        }
    }
}