@font-face {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    src: local('Calibri'), url('fonts/Calibri.ttf') format('ttf');
}

@font-face {
    font-family: "Atelas Personal Use Only";
    font-style: normal;
    font-weight: normal;
    src: local('Atelas'), url('fonts/Atelas_PersonalUseOnly.ttf') format('truetype');
}

@font-face {
    font-family: "Gill Sans MT";
    src: url('fonts/33535gillsansmt.eot');
    src: local('33535gillsansmt'), url('fonts/33535gillsansmt.woff') format('woff'), url('fonts/gillsansmt.ttf') format('truetype');
}

$size: 0.54;

.logo {
    max-width: 200px;
    display: table;
    margin: 10px auto;
}

.logo-main-page {
    display: table;
    max-width: 384px;
    width: 100%;
    margin: 80px auto 20px auto;
}

.menu {
    background-image: url("../img/bg.png");
    background-size: 100% 100%;
    display: block;
    background-repeat: no-repeat;
    min-height: 140px;
    max-width: 762px;
    width: 100%;
    float: right;

    @media (max-width: 905px) {
        min-height: auto;

        ol {
            padding-bottom: 20px;
        }
    }

    ol {

        padding-top: 55px;
        padding-right: 50px;
        display: flex;
        padding-left: 35px;
        justify-content: space-between;
        flex-wrap: nowrap;

        @media (min-width: 768px) and (max-width:905px) {
            padding-top: 47px;
            padding-left: 20px;
            padding-right: 35px;
        }

        @media (min-width:560px) and (max-width:675px) {
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 35px;
        }

        @media (max-width: 640px) {
            white-space: normal;
        }

        a {
            border-right: 1px solid #fff;

            &:last-child {
                position: relative;
                border-right: none;
            }
        }

        li {
            padding: 4px 12px;
            list-style-type: none;
            font-family: "Gill Sans MT";
            font-size: 15px;
            font-weight: bold;
            line-height: 14px;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;

            a {
                color: #fff;
            }

        }

        .camera:after {
            content: url('../img/camera.png');
            position: absolute;
            top: -1px;
            right: -20px;
        }

    }
}

.menu-main {
    background-image: url("../img/test-background.png");
    max-width: none;
    position: relative;
    top: -85px;

  
    ol {
        padding-left: 60px;
        padding-right: 80px;
        margin-bottom: 0;

        @media (max-width: 800px) {
            padding-left: 41px;
            padding-right: 50px;
            padding-top: 35px;

        }
         @media (max-width: 660px) {
             padding-top: 20px;
    justify-content: start;
    flex-wrap: wrap;
    white-space: nowrap;

        }

        // @media (min-width: 560px) and (max-width:745px) {
        //     a:nth-of-type(2) li {
        //         max-width: 145px;
        //     }
        // }

        @media (min-width: 550px) and (max-width:600px) {
            padding-left: 20px;
        }

        a {
            li {
                font-size: 21px;
                padding: 6px 17px;
                line-height: 19px;

                @media (max-width: 920px) {
                    font-size: 16px;
                    padding: 4px 12px;

                }
            }
        }
    }

    @media (max-width: 1200px) {
        top: -45px;

    }

    @media (max-width: 500px) {
        top: -30px;

    }
.camera:after {
    top: 3px !important;
}

}

.pink-paint {
    max-width: 420px;
    width: 100%;
    margin-left: 40px;
    margin-top: 100px;
    line-height: 36px;

    @media (max-width: 768px) {
        display: none;
    }
}


.porady {
    width: 756px * $size;
    width: 100%;

    @media (max-width: 768px) {
        display: table;
        margin: 20px auto;
    }
}

.under-green-text {
    font-family: 'Gill Sans MT';
    font-size: 50px * $size;
    font-weight: 400;
    margin-top: 70px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;

    @media (max-width: 768px) {
        margin: 0 auto;
        display: table;
    }


    p {
        line-height: 30px;
        margin-bottom: 0;

        &:nth-of-type(1) {
            padding-left: 22px * $size;

        }

        &:nth-of-type(2) {
            padding-left: 202px * $size;

            @media (max-width: 600px) {
                padding-left: 25px;
            }

        }

        &:nth-of-type(3) {
            margin-left: -70px;

            @media (max-width: 600px) {
                margin-left: 0;
            }

        }

        &:nth-of-type(4) {
            padding-left: 51px;
            font-size: 46px;
            line-height: 52px;

        }

        &:nth-of-type(6) {
            padding-left: 140px;

            @media (max-width: 600px) {
                padding-left: 35px;
            }


        }
    }

}

.text-environment {
    color: #231f20;
    font-family: 'Gill Sans MT';
    font-size: 19px;
    font-weight: 400;
    margin-top: 25px;
    line-height: 22px;

}

.green-paint {
    margin-top: 60px;
    max-width: 418px;
    float: right;

    @media (max-width: 768px) {
        display: none;
    }
}

.evryday {
    display: table;
    margin: 12px auto;
}

.inspiraion {
    text-align: center;
    margin-top: 20px;

    p:first-of-type {
        font-family: "Gill Sans MT";
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase;
    }

    p:last-of-type {
        margin-top: 5px;
        color: #231f20;
        font-family: "Atelas Personal Use Only";
        font-size: 51px;
        font-weight: 400;
        line-height: 25px;

    }
}

.videos {
    .video-box {
        color: #3eb54a;
        font-family: "Gill Sans MT";
        font-size: 15px;
        font-weight: 700;
        max-width: 330px;
        width: 100%;
        text-align: center;

        @media (max-width: 690px) {
            display: table;
            margin: 5px auto;
            padding: 0 !important;
        }

        .video {
            position: relative;
            border: 2px solid #e7e8e9;
            margin-bottom: 12px;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

.green-gradient {
    background-image: url("../img/Slice_5.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 160px;
    position: relative;

    @media (max-width: 950px) {
        margin-top: 50px;

        p {
            display: table;
            margin: 70px auto 0 auto;
        }
    }

    .eco-image {
        position: absolute;
        top: -65px;

        @media (min-width: 768px) and (max-width:950px) {
            max-width: 400px;
            position: static;
        }

        @media (max-width: 768px) {

            display: none;
        }
    }

    p {
        margin-top: 70px;
        color: #ffffff;
        font-family: "Gill Sans MT";
        font-size: 34px;
        font-weight: 400;
    }

    .download-pdf {
        color: #0a7b35;
        font-family: "Gill Sans MT";
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 20px 60px;
        border-radius: 25px;
        background: #fff;
        display: table;
        margin: 20px auto 20px auto;
    }
}

.bottom-paint {
    display: table;
    margin: 70px auto 50px auto;
}

.videoFrame {
    cursor: pointer;

    .curtain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
    }

    .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        max-width: 50px;
    }
}

.videoFrame.songBg1 {
    background-image: url("../assets/images/song-bg1.jpg");
}

.videoFrame.songBg2 {
    background-image: url("../assets/images/song-bg2.jpg");
}

.videoBanner {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 199;

    .closeIcon {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 3rem;
        z-index: 200;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 50%;
    }

    iframe {
        max-width: 853px;
        max-height: 480px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.videoBanner.hiddenTransform {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
}

.love-nature-row {
    margin-top: 60px;

    .image-love-nature {
        margin-top: 25px;
        max-width: 472px;
        width: 100%;

        @media (max-width: 768px) {
            display: table;
            margin: 30px auto;
        }
    }

    .electro-place {
        img {
            max-width: 466px * 0.66;
            width: 100%;
            display: table;
            margin: 0 auto 35px auto;


        }

        p {
            font-family: "Gill Sans MT";
            color: #231f20;
            text-align: center;

            &:nth-of-type(1) {
                font-size: 40px;
                font-weight: 400;
                line-height: 48px;
            }

            &:nth-of-type(2) {
                font-size: 32px * 0.6;
                font-weight: 400;
                line-height: 21px;
            }

            &:nth-of-type(3) {
                margin-top: 35px;
                font-size: 19.2px;
                font-weight: 400;
                line-height: 21px;
                width: 510px;
                position: relative;
                left: -61px;

                @media (max-width: 940px) {

                    width: auto;
                    position: static;
                }

            }
        }

        .icon-facebook {
            margin: 20px auto 20px auto;
            max-width: 112px * 0.6;
        }

    }
}

.green-gradient-reverse {
    background-image: url("../img/gradient-green-reverse.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    position: relative;
    padding-top: 30px;

    p {
        text-align: center;
        color: #fff;
        font-family: "Gill Sans MT";
        font-size: 35px * 0.6;


        line-height: 26px;
    }

    .footer-tags {
        display: table;
        margin: 20px auto;

        p {
            display: inline-block;
            padding: 12px 18px;
            text-transform: uppercase;
            border-right: 2px solid #fff;
        }
    }

    .footer-bottom-text {
        color: #ffffff;
        font-family: "Gill Sans MT";
        font-size: 40px * 0.6;
        font-weight: bold;
        line-height: 42.59px;
        text-transform: uppercase;
        margin-top: 30px;
    }
}

.meet {
    margin-top: 70px;
    text-align: center;
    position: relative;

    h2 {
        color: #231f20;
        font-family: "Atelas Personal Use Only";
        font-size: 90px;
        line-height: 64px;
        font-style: italic;

        @media (max-width: 300px) {
            font-size: 70px;
        }

    }

    p {
        color: #231f20;
        font-family: "Gill Sans MT";
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        max-width: 670px;
        display: table;
        margin: 20px auto;
    }

    .pink-paint-right {
        max-width: 200px;
        top: 56px;
        position: absolute;
        right: 0px;
        z-index: -20;

        @media (max-width: 600px) {
            display: none;
        }
    }

    .green-paint-left {
        max-width: 320px;
        top: 21px;
        ;
        position: absolute;
        left: 0px;
        z-index: -20;

        @media (max-width: 760px) {
            top: -47px;
        }

        @media (max-width: 325px) {
            display: none;
        }
    }
}

.ambasadors {
    width: 100%;

    @media (max-width: 766px) {
        display: none;
    }
}

.ambasadors-mobile {
    display: none;

    @media (max-width: 766px) {
        display: block;
        width: 100%;
    }
}


@media (max-width: 990px) {
    .container {
        max-width: none !important;
    }
}

@media (max-width: 560px) {
    .no-padding {
        padding: 0;
    }
}

@media (max-width: 560px) {
    .menu {
        background-size: cover;
        background-position: center;

        ol {
            padding-top: 20px;
            justify-content: start;
            flex-wrap: wrap;
            white-space: nowrap;

            a {
                margin: 7px 0;
            }
        }
    }
}